<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css">
</head>
<body>
    <div class="container" style="max-width: 600px;margin-top: 60px;">
        <div class="jumbotron">
            <h2>404</h2>
            <p>对不起，您访问的资源[<code th:text="${ #httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"> </code>]页面不存在！</p>
        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>